.table-box {
  min-height: 50vh;
}
.database {
  position: relative;
  margin: auto;
  padding: 0rem 0rem;
  width: 100%;
}

.applicationform {
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  grid-gap: 1rem;
}

.dataheader {
  position: relative;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  border-bottom: 1px solid black;
  margin-top: 5px;
  padding: 2px;
}

.datatable {
  position: relative;
  padding: 2rem;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.content {
  position: relative;
  margin-top: 2px;
  transition: all 0.5s ease-in-out;
  height: 0;
  overflow: hidden;
}
.content label {
  padding: 10px;
}

.content-general-info {
  width: 100%;
  margin: 0 auto 25px;
}

.showContent {
  background-color: lavender;
  padding: 1rem 2rem;
  height: auto;
  overflow-y: scroll;
}

.dataheader-title {
  cursor: pointer;
}

.dataheader_expert {
  position: relative;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 20% 20% 10%;
  border-bottom: 1px solid black;
  margin-top: 5px;
  text-align: center;
}

.datatable_expert {
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 20% 20% 10%;
  text-align: center;
}

.dataheader_project {
  position: relative;
  display: grid;
  grid-template-columns: 10% 10% 10% 30% 10% 10% 10%;
  border-bottom: 1px solid black;
  margin-top: 5px;
  text-align: center;
}

.datatable_project {
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: grid;
  grid-template-columns: 10% 10% 10% 30% 10% 10% 10%;
  text-align: center;
}

.dataheader_project_matching {
  position: relative;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 20% 10% 10% 10%;
  border-bottom: 1px solid black;
  margin-top: 5px;
  text-align: center;
}

.datatable_project_matching {
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 20% 10% 10% 10%;
  text-align: center;
}

.dataheader_job {
  position: relative;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 20% 10% 10% 10%;
  border-bottom: 1px solid black;
  margin-top: 5px;
  padding: 2px;
}

.datatable_job {
  position: relative;
  padding: 2rem;
  display: grid;
  grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 12%;
}

/*Form */

.forms {
  width: 100%;
  position: relative;
  margin-top: 2px;
  transition: all 0.5s ease-in-out;
  height: 0;
  overflow: hidden;
}
.forms label {
  padding: 10px;
}

.forms-info {
  position: relative;
  width: 100%;
}

.showForms {
  position: relative;
  height: 550px;
  overflow-y: scroll;
}

.columns {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.columns-add {
  position: relative;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.columns-merge {
  margin-top: 1rem;
  width: 100%;
  position: relative;
}
.newline-text {
  white-space: pre-line;
}
.grid-info {
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18%;
  grid-gap: 1rem;
}

.upd-btn {
  cursor: pointer;
  background: rgb(0, 33, 109);
  width: 10%;
  color: white;
  position: relative;
  left: 5%;
  margin-top: 2rem;
}

.apply-btn {
  cursor: pointer;
  margin-top: 1rem;
  position: relative;
  width: 130px;
  background: rgb(0, 33, 109);
  color: white;
}

.more-info-btn {
  cursor: pointer;
  border-radius: 8px;
  height: 30px;
  background: rgb(0, 33, 109);
  color: white;
  width: fit-content;
}

.edit-btn {
  margin-top: 1rem;
  position: relative;
  left: 30%;
  cursor: pointer;
  border-radius: 8px;
  width: 100px;
  height: 30px;
  background: rgb(0, 33, 109);
  color: white;
}

.download-btn {
  margin-top: 1rem;
  position: relative;
  left: 50%;
  cursor: pointer;
  border-radius: 8px;
  width: 100px;
  height: 30px;
  background: rgb(0, 33, 109);
  color: white;
}
